<head>
<title>Alex Burton | Web Developer</title>   
</head>

<body>
  <h3>Contact Details</h3>
    <h4>If you would like to contact me please email me or tweet me</h4>
      <p>Email</p>
      <li><a href="mailto:alex.burton1993@gmail.com">alex.burton1993@gmail.com</a></li>
      <p>Twitter</p>
      <li><a href="http://twitter.com/intent/tweet?screen_name=Alexand3rsc0tt">@Alexand3rsc0tt</a></li>
    
         
  <footer>
  	<p>&copy; 2014 Alex Burton.</p>
  </footer>
</body>