<div id="Nav">
  <h1>Alex Burton</h1>
  <h4>Web Developer</h4>

  <%= link_to 'Home', root_path, :class => "nav_link" %>
  <%= link_to 'About', about_path, :class=>"nav_link" %>
  <%= link_to 'Contact', contact_path, :class=>"nav_link" %>
  <%= link_to 'Blog', posts_path, :class => "nav_link" %> 

</div>